body {
    background-color: rgb(31, 28, 28);
    margin: 0px 0px;
}
.container {
    background-color: rgb(19, 226, 226);
    padding: 10px 10px;
    border: 5px;
    border-radius: 5px;
    margin: 10px 20px;
}
.header {
    background-color: rgb(26, 197, 197);
    border: 5px;
    border-radius: 5px;
    padding: 20px 10px;
    text-align: center;
    margin: 0px auto;
}

#side-drop {
    position: fixed;
    width: 20px;
    height: 1000px;
    background-color: black;
    opacity: 50%;
    border: 5px;
    border-radius: 5px;
    margin: 0px auto;
}